<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Perguntas</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table-striped col-md-12">
      <thead>
      <tr>
        <th>Titulo</th>
        <th>Respostas</th>
        <th>Por</th>
      </tr>
      </thead>

      <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><a href="<%= "/questions/#{question.id}" %>"> <%= truncate(question.title, :length => 150, :omission => '...') %></a></td>
          <td><%= question.answers.length %></td>
          <td><a href="<%= "/users/#{question.user.id}" %>"> <%= question.user.name %></a></td>
<!--          <td><%#= link_to 'Show', question %></td>
          <td><%#= link_to 'Edit', edit_question_path(question) %></td>
          <td><%#= link_to 'Destroy', question, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>