<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h5><a href="/users/new">Adicionar novo usuário</a></h5>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Usuarios</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table-striped col-md-12">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Username</th>
        <th>Grupo</th>
        <th>Perfil</th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><a href="<%= "/users/#{user.id}" %>"> <%= user.name %></a></td>
          <td><%= user.username %></td>
          <td><%= user.group.name %></td>
          <td><%= user.role == 2 ? "Moderador" : "Comum" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>